 /* Typewriter Effect */

.var-highlight {
	color: #F7344F;
}

.string-highlight {
	color: #E6FF00;
}

#typewriter{
		position: relative;
		top: 20%;
		font-size:calc(12px + 1.5vw);
		font-family: "Courier New";
        color: white;
	min-height: 40vh;
	overflow-x: hidden;
}

#typewriter:after {
	content: "|";
	animation: blink 500ms linear infinite alternate;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Thank you https://codepen.io/stevn/pen/jEZvXa for the idea */

html {
	font-family: 'poppins', sans-serif;
	overflow-x: hidden;
}

body {
	background-color: white;
}

body h1 {
	font-family: 'Recursive', sans-serif;
	;
	font-weight: 700;
	font-size: 56px;
}

/* NAV/HEADER */

header {
	height: 40vw;
	min-height: 40vh;
	width: 100vw;
	background-color: rgb(50, 50, 50);
}


@media screen and (max-width: 600px) {
	#typewriter {
		font-size: calc(10px + 1vw);
	}
	header {
		min-height: 30vh;
		transition: 1s;
	}
}

@media screen and (max-width: 376px) {
	#typewriter {
		font-size: calc(8px + 1vw);
	}
}

.bg-color {
	background-color: #F7344F;
}

nav img {
	width: calc(24px + 1vw);
	height: auto;
	margin-right: 15px;
}

.navbar-brand {
	font-size: calc(24px + 1vw);
	display: flex;
	align-items: center;
}

.navbar-brand {
	color: white;
	font-family: 'poppins', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
}

.nav-link {
	color: white;
	font-family: 'poppins', sans-serif;
	letter-spacing: 2px;
}

.nav-link:hover {
	color: #E6FF00;
	transition: 200ms;
}

.nav-link:visited {
	color: white;
}

.nav-link i {
	color: #E6FF00;
}

.nav-link i:hover {
	color: white;
	transition: 200ms;
}

#contactLink {
	border: 1px solid #E6FF00
}

#contactLink:hover {
	background-color: #E6FF00;
	color: #F7344F;
	transition: 200ms;
}

.navbar {
	padding: .5% 5%;
	width: 100vw;
}

nav .container {
	width: fit-content;
	margin-left: 0;
}

#contactAnchor {
	position: fixed;
	z-index: 1000;
	top: 88vh;
	left: 85%;
	border: none;
	border-radius: 50%;
	transition: .2s ease-out;
	visibility: hidden;
}

#contactAnchor:hover {
	transform: scale(1.25);
	transition: .2s ease;
}

#contactAnchor i {
	color: #E6FF00;
}

#contactButton {
	height: 80px;
	width: 80px;
	border: none;
	border-radius: 50%;
	background-color: #F7344F;
}

.dropdown {
	display: none;
	color: #F7344F;
}

.dropdown-toggle {
	color: #F7344F !important;
	background-color: #E6FF00 !important;
	border: none;
}

.dropdown-menu[data-bs-popper] {
	left: -42px;
}

.dropdown-menu {
	min-width: fit-content;
	font-family: 'Poppins';
}

@media screen and (max-width: 900px) {
	#contactAnchor {
		position: fixed;
	z-index: 1000;
	top: 88vh;
	left: 82%;
	border: none;
	border-radius: 50%;
	transition: .2s ease-out;
	visibility: visible;
	}
}

@media screen and (max-width: 768px) {
	.nav ul {
		display: none;
	}
	.dropdown {
		display: flex;
	}
}

@media screen and (max-width: 545px) {
	.nav {
		justify-content: start !important;
	}
}

@media screen and (max-width: 467px) {
	#contactAnchor{
		left: 78%
	}
}
/* ABOUT */

#aboutMe {
	min-height: 80vh;
	max-height: auto;
	width: 100vw;
	margin: auto;
	padding: 5% 0;
	font-family: 'poppins', sans-serif;
	display: block;
}

#aboutMe h1 {
	text-align: center;
	color: black;
	margin: 0 auto 3% auto;
	width: fit-content;
	font-size: calc(40px + 2vw);
	/* border-bottom: 3px solid #F7344F; */
	text-shadow: 5px 5px 3px #E6FF00;
	transition: .5s ease-out;
}

#aboutMe h3 {
	text-align: center;
	color: black;
	margin: auto;
	font-size: calc(16px + 1vw);
	width: fit-content;
	/* border-bottom: 3px solid #F7344F; */
	transition: .5s ease-out;
}

@media screen and (max-width: 559px) {
	#aboutMe h3 {
		font-size: calc(12px + 1vw);
		font-weight: 600;
		margin-top: 20px;
	}
}

#aboutMe h1:hover {
	transform: scale(1.25);
	transition: .5s ease;
}

/* #aboutMe img{
	height: 400px;
	width: 500px;
	border-radius: 50%;
}

#aboutMe img:hover{
	border-radius: 0;
	transition: 200ms;
} */

#aboutImg img {
	max-height: calc(350px/1.5);
	min-height: 35px;
	max-width: calc(425px/1.5);
	min-width: 42.5px;
	border-radius: 50%;
	margin: 20px 0 0 0;
	transition: .5s ease-out;
}

#aboutImg img:hover {
	border-radius: 0%;
	transition: .5s ease;
}

#middleContent {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: auto;
	/* margin: 2% 2%; */
}

#bottomContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#aboutImg, #aboutTxt, #skills, #certifications{
	width: 33.3%;
	margin: auto;
}

#aboutImg {
	display: flex;
	justify-content: center;
}

/* #certificationsContainer{
	width: 33.3vw;
	background-color: red;
	box-sizing: content-box;
	margin: auto;
} */
#certifications{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	/* padding-left: 5%; */
	width: 33.3vw;
	justify-items: center;
	align-items: center;
	margin: auto;
	padding: 7%;

}
#certifications img{
	length: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
}

#certifications a{
	transition: 0.25s ease-out;

}

#certifications a:hover{
	transform: scale(1.5);
	transition: .25s ease;
	text-align: center;
	visibility: visible;
}

#nameFlair{
	color: #F7344F;
	font-size: 1.2rem;
	font-weight: 600;
}
#skills {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
	padding: 0% 5%;
	margin: auto;
	width: 33.3vw;
}


#skills .col, #skills2 .col{
	list-style: none;
	/* padding: 50px; */
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.25s ease-out;
}
#skills .col:hover, #skills2.col:hover{
	transform: scale(1.5);
	transition: .25s ease;
	text-align: center;
	visibility: visible;
}

#skills .col p:hover, #skills2.col p:hover{
	visibility: visible;
}

#skills img, #skills2 img {
	height: 80px;
	width: 80px;
}

#aboutTxt {
	margin: 0 20px;
	/* max-height: auto; */
	/* overflow-y: auto; */
	min-height: fit-content;
	width: 33.3vw;
	text-align:  center;
	letter-spacing: 1px;
	color: black;
	font-weight: 500;
	line-height: 170%;
	
}


#externalLinks {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 20px;
	width: 20%;
}

#externalLinks .fab, #externalLinks .fas {
	color: #F7344F;
}

#externalLinks .fab:hover, #externalLinks .fas:hover {
	color: black;
	transition: 200ms;
}

#mobileView {
	display: none;
}

@media screen and (max-width:1024px) {
	#pcView {
		display: none;
	}
	#mobileView {
		display: block;
	}
	#externalLinks{
		width: 60%;
	}
	#middleContent {
		flex-direction: column;
		margin: 2% 0;
	}
	#aboutMe img {
		max-width: 400px;
	}
	#aboutTxt {
		width: 80vw;
	}
	#aboutMe p {
		font-size: calc(10px + 1vw);
	}
	#skillsList {
		width: 100%;
		height: 120px;
		position: relative;
		overflow: hidden;
		/* display: flex;
		justify-content: space-evenly; */
	}
	#skills, #skills2 {
		width: 2640px;
		position: absolute;
		white-space: nowrap;
		display: inline-block;
		gap: 0;
		-webkit-animation-name: pan;
		animation-name: pan;
		-webkit-animation-duration: 10s;
		animation-duration: 10s;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	}
	#skills2{
		left: 1120px;
	}
	#skills .col, #skills2 .col {
		max-height: 100px;
		max-width: 100px;
		display: inline-block;
		/* margin-top: 30px; */
		margin-left: 10px;
		overflow: hidden;
		text-align: center;
	}
	@-webkit-keyframes pan {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-1100px);
		}
	}
	@keyframes pan {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-1100px);
		}
	}
}

/* PROJECTS */

#projects {
	width: 100vw;
	margin: auto;
	background-color: black;
	padding: 5% 10% 12.5%;
}

#projects h1 {
	margin-bottom: 5%;
	color: #F7344F;
	width: fit-content;
	border-bottom: 5px solid #E6FF00;
	border-right: 5px solid #E6FF00;
	padding-bottom: 12px;
	padding-right: 17px;
	font-size: calc(40px + 2vw);
}

#cat {
	height: 300px;
	object-fit: cover !important;
}

#projects img {
	height: 100%;
	width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	margin: auto;
}

.first-row, .second-row {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: auto;
}

.flip-card {
	background-color: transparent;
	/* min-width: 200px; */
	width: 20vw;
	height: 20vw;
	/* border: 1px solid black; */
	perspective: 1000px;
	transition: .2s;
}

.flip-card-inner {
	transition: all .5s ease-out;
	/* transition-delay: .1s; */
	transform-style: preserve-3d;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	cursor: pointer;
}

.flip-card:hover {
	transform: scale(1.25);
	z-index: 5;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flip-card-front h2 {
	position: fixed;
}

.flip-card-back {
	background-color: rgb(50, 50, 50);
	color: white;
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 5%;
}

.flip-card-back h3 {
	font-size: 1.5vw;
}

.flip-card-back p {
	font-size: 1vw;
}

.flip-card button {
	border: none;
	border-radius: 20px;
	background-color: #E6FF00;
	color: rgb(50, 50, 50);
	font-size: 1vw;
	height: 2.5vw;
	width: 4vw;
}

.flip-card button:hover {
	/* background-color: white; */
	color: rgb(50, 50, 50);
	transform: scale(1.1);
	transition: .5s;
}

@media screen and (max-width: 768px) {
	.first-row, .second-row {
		flex-direction: column;
	}
	.flip-card {
		width: 50vw;
		height: 50vw;
	}
	.flip-card-back h3 {
		font-size: 3vw;
	}
	.flip-card-back p {
		font-size: 2.5vw;
	}
	.flip-card button {
		font-size: 2.5vw;
		height: 5vw;
		width: 10vw;
	}
}

/* CONTACT */

#contact {
	background-color: #F7344F;
	width: 70vw;
	height: auto;
	width: 100vw;
	margin: 0;
	padding: 5% 15%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

#contact h1 {
	color: #E6FF00;
	font-size: calc(40px + 2vw);
}

#contactHeadings p {
	font-size: calc(14px + .5vw);
	font-weight: 500;
}

#sendButton {
	margin: 10px;
	background-color: #F7344F;
	color: white;
	border: transparent;
	width: 520px;
	height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
}

#sendButton:hover {
	border: 1px solid white;
	transition: 200ms;
}

#form {
	border: 15px solid black;
	background-color: black;
	box-shadow: #E6FF00 40px 40px;
	margin-bottom: 4%;
}

#contactHeadings p {
	width: 80%;
	color: white;
	letter-spacing: 1px;
}

#leftRightForm {
	display: flex;
	justify-content: center;
	width: auto;
}

#leftRightForm input {
	width: 250px;
}

#message {
	height: 100px;
	width: 520px;
}

#messageDiv {
	display: flex;
}

#name, #email, #phoneNumber, #subject, #message {
	margin: 10px;
	border-color: white;
}

#button {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 1280px) {
	#contact {
		flex-direction: column;
		align-items: center;
		height: fit-content;
		padding-bottom: 10%;
	}
	#contactHeadings {
		text-align: center;
	}
	#contactHeadings p {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-weight: 500;
		/* font-size: 20px; */
		letter-spacing: 1px;
	}
	#form {
		margin-right: 5%;
	}
}

@media screen and (max-width: 767px) {
	#contact {
		flex-direction: column;
		align-items: center;
		height: fit-content;
		padding-bottom: 10%;
		padding-left: 0;
		padding-right: 0;
		margin: auto;
	}
	#contactHeadings {
		text-align: center;
	}
	#contactHeadings p {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-weight: 500;
		/* font-size: 20px; */
		letter-spacing: 1px;
	}
	#leftRightForm {
		display: flex;
		flex-direction: column;
	}
	#message {
		max-height: 50px;
		max-width: 250px;
	}
	#sendButton {
		width: 250px;
	}
	#form {
		margin-right: 5%;
		margin-bottom: 5%;
	}
}

@media screen and (max-width: 325px) {
	#form {
		box-shadow: none;
		margin: auto;
	}
}

/* FOOTER */

#footer {
	background-color: rgb(50, 50, 50);
	height: fit-content;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	color: white;
	text-align: center;
	width: 100vw;
}

#footerLinks {
	margin: 25px auto;
	width: 250px;
	display: flex;
	justify-content: space-evenly;
}

#footer .fab {
	color: white;
}

#footer .fab:hover {
	color: #E6FF00;
	transition: 200ms;
} 
